@model ArhamTechnosoftLoyalty.Models.Common.PermissionViewModel
@{
    ViewData["Title"] = "GetRolePermission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="feather icon-clipboard bg-c-blue"></i>
                    <div class="d-inline">
                        <h5>Permission</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class=" breadcrumb breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="index.html"><i class="feather icon-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Permission-List</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form asp-controller="Account" method="post" asp-action="UpdateRolePermission" class="d-inline">
                                <!-- Individual Column Searching (Text Inputs) start -->
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between">
                                        <h5 style="place-self: center;">@Model.Role Permissions</h5>
                                        <button type="submit" id="save" class="btn btn-success">
                                            <i class="fa fa-check"></i>
                                            Save
                                        </button>
                                    </div>
                                    <div class="card-block">
                                        @*<div class="dt-responsive table-responsive">
                                            @*<input asp-for="@Model.RoleId" type="hidden" />
                                            <table id="tblPermission" class="table table-striped table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Type
                                                        </th>
                                                        <th>
                                                            Permission
                                                        </th>
                                                        <th data-searchable="false" data-orderable="false">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (int i = 0; i < Model.RoleClaims.Count(); i++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <input asp-for="@Model.RoleClaims[i].Type" type="hidden" />
                                                                @Model.RoleClaims[i].Type
                                                            </td>
                                                            <td>
                                                                <input asp-for="@Model.RoleClaims[i].Value" type="hidden" />
                                                                @Model.RoleClaims[i].Value
                                                            </td>
                                                            <td>
                                                                <div class="form-check m-1">
                                                                    <input asp-for="@Model.RoleClaims[i].Selected" class="form-check-input" />
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }

                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>Type</th>
                                                        <th>Permission</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                        </div>*@
                                        <div class="dt-responsive table-responsive">
                                            <input asp-for="@Model.RoleId" type="hidden" />
                                            <table id="tblPermission" class="table table-striped table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>Module</th>
                                                        <th>View</th>
                                                        <th>Create</th>
                                                        <th>Edit</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>UserManagement</td>
                                                        <td>
                                                            <input asp-for="@Model.RoleClaims[0].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[0].Value" type="hidden" />
                                                            <div class="form-check m-1">
                                                                <input asp-for="@Model.RoleClaims[0].Selected" class="form-check-input" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.RoleClaims[1].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[1].Value" type="hidden" />
                                                            <div class="form-check m-1">
                                                                <input asp-for="@Model.RoleClaims[1].Selected" class="form-check-input" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.RoleClaims[2].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[2].Value" type="hidden" />
                                                            <div class="form-check m-1">
                                                                <input asp-for="@Model.RoleClaims[2].Selected" class="form-check-input" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.RoleClaims[3].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[3].Value" type="hidden" />
                                                            <div class="form-check m-1">
                                                                <input asp-for="@Model.RoleClaims[3].Selected" class="form-check-input" />
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Company</td>
                                                        <td>
                                                            <input asp-for="@Model.RoleClaims[4].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[4].Value" type="hidden" />
                                                            <div class="form-check m-1">
                                                                <input asp-for="@Model.RoleClaims[4].Selected" class="form-check-input" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.RoleClaims[5].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[5].Value" type="hidden" />
                                                            <div class="form-check m-1">
                                                                <input asp-for="@Model.RoleClaims[5].Selected" class="form-check-input" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.RoleClaims[6].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[6].Value" type="hidden" />
                                                            <div class="form-check m-1">
                                                                <input asp-for="@Model.RoleClaims[6].Selected" class="form-check-input" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.RoleClaims[7].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[7].Value" type="hidden" />
                                                            <div class="form-check m-1">
                                                                <input asp-for="@Model.RoleClaims[7].Selected" class="form-check-input" />
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Branch</td>
                                                        <td>
                                                            <input asp-for="@Model.RoleClaims[8].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[8].Value" type="hidden" />
                                                            <div class="form-check m-1">
                                                                <input asp-for="@Model.RoleClaims[8].Selected" class="form-check-input" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.RoleClaims[9].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[9].Value" type="hidden" />
                                                            <div class="form-check m-1">
                                                                <input asp-for="@Model.RoleClaims[9].Selected" class="form-check-input" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.RoleClaims[10].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[10].Value" type="hidden" />
                                                            <div class="form-check m-1">
                                                                <input asp-for="@Model.RoleClaims[10].Selected" class="form-check-input" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.RoleClaims[11].Type" type="hidden" />
                                                            <input asp-for="@Model.RoleClaims[11].Value" type="hidden" />
                                                            <div class="form-check m-1">
                                                                <input asp-for="@Model.RoleClaims[11].Selected" class="form-check-input" />
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        
                                    </div>
                                </div>
                                <!-- Individual Column Searching (Text Inputs) end -->
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tblPermission tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');
            });

            // DataTable
            //var table = $('#tblPermission').DataTable();

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>
    <partial name="_datatableJs" />
}


